.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
  }
  
  .login-card {
    width: 360px;
    padding: 24px;
    text-align: center;
  }
  
  .full {
    width: 100%;
    margin-bottom: 16px;
  }
  